form.signup,
form.login,
form.petPost {
  margin-top: 50px;
};

.petPost {
  box-shadow: 0px 0px 4px 4px #ccc;
  -webkit-box-shadow: 0px 0px 4px 4px #ccc;
  -moz-box-shadow: 0px 0px 4px 4px #ccc;
}

#page1{
 background-image: url(https://i.pinimg.com/originals/af/8b/4a/af8b4ae2596c629997277c4bf2cd0235.jpg);
 background-size: cover;
}


#page1.h2{
font-style: italic;
}

#page2{
background-image: url(https://previews.123rf.com/images/reamolko/reamolko1412/reamolko141200024/34211117-cheerful-domestic-animals-seamless-colorful-pattern-cat-dog-fish-bird-and-mouse-pet-shop-background-.jpg);

}

#page3{
background-color: white;
background-image: url(https://www.foremostmedia.com/portals/0/Images/services/online-marketing/social-media-marketing/social-media.png);
background-size: contain;
background-repeat: no-repeat;
}

#page4{
background-image: url(https://i.pinimg.com/originals/5e/61/f3/5e61f36f1d3d817b8ffdb406ad59cc2c.gif);
background-size: unset;
background-repeat: no-repeat;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

section{
  text-align:center;
}
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #39b89e 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 15em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #39b89e;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
  font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}